In [2]:
from collections import defaultdict
from django.db.models.signals import *
import pandas as pd
from itertools import chain

In [3]:
def permissoes_history_user(result_list):
    permissoesUsuarios = {}
    for a in result_list:
        try:
        #print(a.user.get_full_name())
            if not permissoesUsuarios.get(a.user.get_full_name()):
                permissoesUsuarios[a.user.get_full_name()] = {}

            permissoesUsuarios[a.user.get_full_name()][a.history_date.month] = a.permissions.name
        except:
            pass
    
    usuariosAtivos = []
    usuariosInativos = []
    for nome, mes in permissoesUsuarios.items():
        item = max(list(mes.keys()))
        cargo_atual = mes[item]
        if cargo_atual != 'Inativo':
            usuariosAtivos.append(nome)
        else:
            usuariosInativos.append(nome)
    
    return usuariosAtivos,usuariosInativos

In [4]:
companies = ['Modera', 
             'Sinalizavia (Municípios)', 
             'Afirma Engenharia Viária',
             'Pavicolet (Amapá)',
             'Pavicolet (Amazonas)', 
             'Sanson',
             'Entrevias',
             'Televale',
             'Garcia Monteiro']

In [2]:
# Modera, Sinalizavia (Municípios), Afirma Engenharia Viária,Pavicolet (Amapá),Pavicolet (Amazonas), Sanson,Entrevias,Televale,Garcia Monteiro

In [96]:
company = 'Garcia Monteiro'

In [97]:
historicoUsuarios=UserInCompany.history.model.objects.filter(company__name=company).exclude(user__email__icontains='kartado').exclude(user__email__icontains='roadlabs').exclude(user__uuid = '6ca2ac08-7ee0-4587-a0cf-8850f72e1b95').exclude(user__email__icontains='hermes').order_by( 'history_date')
historicoUsuarios.count()

30

# Executar no caso da Entrevias

In [2]:
# historicoUsuarios=UserInCompany.history.model.objects.filter( Q(user__email__icontains='afirma')|Q(user__email__icontains='ajr'), history_date__year= 2023,company__name=company).exclude(user__email__icontains='kartado').exclude(user__email__icontains='roadlabs').exclude(user__email__icontains='hermes').order_by( 'history_date')
# historicoUsuarios.count()

11

In [73]:
# historicoUsuarios3=UserInCompany.history.model.objects.filter(company__name__icontains=company, history_date__year= 2022).exclude(user__email__icontains='kartado').exclude(user__email__icontains='roadlabs').exclude(user__uuid = '6ca2ac08-7ee0-4587-a0cf-8850f72e1b95').exclude(user__email__icontains='hermes').order_by( 'history_date')
historicoUsuarios=UserInCompany.history.model.objects.filter(Q(user__email__icontains='afirma')|Q(user__email__icontains='ajr'),company__name__icontains=company).exclude(user__email__icontains='kartado').exclude(user__email__icontains='roadlabs').exclude(user__uuid = '6ca2ac08-7ee0-4587-a0cf-8850f72e1b95').exclude(user__email__icontains='hermes').order_by( 'history_date')
historicoUsuarios.count()

25

In [98]:
result_list = historicoUsuarios

In [99]:
len(result_list)

30

In [5]:
pd.DataFrame().to_excel('Usuários Ativos Financeiro.xlsx')

In [11]:
for company in companies:
    if company is not 'Entrevias':
        historicoUsuarios=UserInCompany.history.model.objects.filter(
            company__name=company
        ).exclude(
            user__email__icontains='kartado'
        ).exclude(
            user__email__icontains='roadlabs'
        ).exclude(
            user__uuid = '6ca2ac08-7ee0-4587-a0cf-8850f72e1b95'
        ).exclude(
            user__email__icontains='hermes'
        ).order_by( 'history_date')
    else:
        historicoUsuarios=UserInCompany.history.model.objects.filter(
            Q(user__email__icontains='afirma')|Q(user__email__icontains='ajr'),
            company__name__icontains=company
        ).exclude(
            user__email__icontains='kartado'
        ).exclude(
            user__email__icontains='roadlabs'
        ).exclude(
            user__uuid = '6ca2ac08-7ee0-4587-a0cf-8850f72e1b95'
        ).exclude(
            user__email__icontains='hermes'
        ).order_by( 'history_date')
    
    users_permissions = permissoes_history_user(historicoUsuarios)[0] if len(permissoes_history_user(historicoUsuarios)[0]) > 0 else 0
    
    if users_permissions != 0:
        df2 = pd.DataFrame(data=users_permissions,columns=['Usuários ativos'])
        with pd.ExcelWriter('Usuários Ativos Financeiro.xlsx', mode='a',if_sheet_exists='replace') as writer:
            df2.to_excel(writer,sheet_name=company,na_rep="-")

In [9]:
df3 = pd.DataFrame(data=users_permissions)

In [10]:
df3

                      0
0        Lucas Ferreira
1       Antonio Estevam
2     Bruno Allencastro
3     Jhonata Rodrigues
4  José Carlos Oliveira
5   Alessandro Palhares
6        Carlos Erbella

In [114]:
for a in permissoes_history_user(result_list)[0]:
    print(a)

Lia Pimentel
Gustavo Pizzo
André Reis
Thiago Oliveira
Bruno Fonseca
Vinicius Bessa
José Rafael Tavares
Eudes Teles de Souza
Samuel Viana dos Santos
Denis Alves Silva
Marcos Cipriano
Anderson Adauto
Jessé Campos da Silva

In [100]:
permissoesUsuarios = {}
for a in result_list:
    try:
    #print(a.user.get_full_name())
        if not permissoesUsuarios.get(a.user.get_full_name()):
            permissoesUsuarios[a.user.get_full_name()] = {}
    
        permissoesUsuarios[a.user.get_full_name()][a.history_date.month] = a.permissions.name
    except:
        pass

In [101]:
permissoesUsuarios

{'Lia Pimentel': {11: 'Usuário de controle', 4: 'Inativo'},
 'Gustavo Pizzo': {11: 'Usuário de controle'},
 'André Reis': {11: 'Usuário de controle'},
 'Thiago Oliveira': {11: 'Usuário de controle', 6: 'Usuário de campo'},
 'Bruno Fonseca': {11: 'Usuário de controle'},
 'Vinicius Bessa': {11: 'Usuário de controle', 4: 'Inativo'},
 'José Rafael Tavares': {1: 'Usuário de campo',
  2: 'Usuário de campo',
  4: 'Inativo',
  7: 'Usuário de campo'},
 'Eudes Teles de Souza': {4: 'Usuário de campo'},
 'Samuel Viana dos Santos': {4: 'Usuário de controle', 6: 'Usuário de campo'},
 'Denis Alves Silva': {4: 'Usuário de controle', 6: 'Usuário de campo'},
 'Everton Willian De Carvalho': {4: 'Usuário de controle', 6: 'Inativo'},
 'Welson Silva': {5: 'Usuário de campo', 6: 'Inativo'},
 'Marcos Cipriano': {5: 'Usuário de controle', 6: 'Usuário de campo'},
 'Anderson Adauto': {6: 'Usuário de campo'},
 'Jessé Campos da Silva': {6: 'Usuário de campo'}}

In [102]:
users={}
for mes in range(1,12):
    try:
        for a in result_list:
            if a.history_date.month <= mes:
                if not users.get(mes):
                    users[mes] = set()
                users[mes].add(a.user.get_full_name())
    except:
        pass
users

{1: {'José Rafael Tavares'},
 2: {'José Rafael Tavares'},
 3: {'José Rafael Tavares'},
 4: {'José Rafael Tavares'},
 5: {'José Rafael Tavares'},
 6: {'José Rafael Tavares'},
 7: {'José Rafael Tavares'},
 8: {'José Rafael Tavares'},
 9: {'José Rafael Tavares'},
 10: {'José Rafael Tavares'},
 11: {'André Reis',
  'Bruno Fonseca',
  'Gustavo Pizzo',
  'José Rafael Tavares',
  'Lia Pimentel',
  'Thiago Oliveira',
  'Vinicius Bessa'}}

In [103]:
usuariosAtivos = []
usuariosInativos = []
for nome, mes in permissoesUsuarios.items():
    item = max(list(mes.keys()))
    cargo_atual = mes[item]
    if cargo_atual != 'Inativo':
        usuariosAtivos.append(nome)
    else:
        usuariosInativos.append(nome)

In [104]:
usuariosAtivos,usuariosInativos

(['Lia Pimentel',
  'Gustavo Pizzo',
  'André Reis',
  'Thiago Oliveira',
  'Bruno Fonseca',
  'Vinicius Bessa',
  'José Rafael Tavares',
  'Eudes Teles de Souza',
  'Samuel Viana dos Santos',
  'Denis Alves Silva',
  'Marcos Cipriano',
  'Anderson Adauto',
  'Jessé Campos da Silva'],
 ['Everton Willian De Carvalho', 'Welson Silva'])

In [105]:
for i in usuariosAtivos:
    print(i)

Lia Pimentel
Gustavo Pizzo
André Reis
Thiago Oliveira
Bruno Fonseca
Vinicius Bessa
José Rafael Tavares
Eudes Teles de Souza
Samuel Viana dos Santos
Denis Alves Silva
Marcos Cipriano
Anderson Adauto
Jessé Campos da Silva

In [106]:
df = pd.DataFrame(usuariosAtivos)

In [107]:
df

                          0
0              Lia Pimentel
1             Gustavo Pizzo
2                André Reis
3           Thiago Oliveira
4             Bruno Fonseca
5            Vinicius Bessa
6       José Rafael Tavares
7      Eudes Teles de Souza
8   Samuel Viana dos Santos
9         Denis Alves Silva
10          Marcos Cipriano
11          Anderson Adauto
12    Jessé Campos da Silva